.renderInstallments__container {
  display: flex;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

.bill_button--container {
  padding: 10px 10px;
  width: -webkit-fill-available;
  width: -moz-available;
  text-align-last: end;
}

.renderInstallments__container--title {
  padding: 10px;
}

@media (max-width: 992.00px) {

  .renderInstallments__container {
    flex-wrap: wrap;
  }
}